* {
    margin: 0px;
    padding: 0px;

}

nav button{
    text-decoration: none;
    background-color: darkcyan;
    color: white;
    border-radius: 8px;
}
nav button:hover{
    translate: 10px;
}

header nav{
    display: flex;
    justify-content: space-between;
    padding: 1%;
}

.h2-wrapper{
    display: flex;

}

nav h2{
    background-color: darkcyan;
    color: white;
    border-radius: 8px;
    margin-right: 0%;
}

nav button{
    width: 8%;
}

hero h1{
    display: flex;
    justify-content: center;
    margin-top: 0%;
    background-color: lightslategray;
    color: white;
}

hero p{
    display: flex;
    justify-content: center;
    padding: 1%;
    background-color: lightslategray;
    color: white;
}

.button-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 4%;
}

.button-wrapper button{
    border-radius: 25px;
    background-color: darkcyan;
    color: white;
    width: 100px;
    height: 50px;
    cursor: pointer;

}

button:hover{
    translate: 10px;
}

.modal-css{
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height:100%;
    overflow: auto;
    justify-content: center;
    align-items: top;
    
}

.modal-class h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-class{
    /* border: 1px solid #888; */
    background-color: white;
    /* justify-content: space-between; */

}
/* .modal-css h1{
    background-color: lightslategray;
} */

.modal-class button{
    display: flex;
    flex-direction: column;
    background-color: darkcyan;
    border-radius: 25px;
    /* justify-content: space-between; */
    padding: 2%;
    margin: 4%;
    width: 100%;
    height: 7%;
    color: white;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.footer{
    display: none;
    /* position: fixed; */
    /* left: 0; */
    bottom: 0%;
    /* z-index: 1; */
    width: 100%;
    /* height:100%; */
    overflow: auto;
    /* background-color: darkcyan; 
    color: white; */
    /* text-align: center; */
    justify-content: center;
}

.footer h2{
   position: absolute;
   bottom: 5%;
   z-index: 1;
    
}

.modal-class button:hover{
    translate: 10px;
}

.saved-scores{
    display: none;
    z-index: 1;
    position: relative;
    justify-content: center;
    align-items: center;
}
section input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0%;
    left: 35%;
    position: absolute;
}

@media (max-height: 700px) {
    .h2-footer{
       bottom: 1%;
    }
}

@media (max-height: 400px) {
    .h2-footer{
       bottom: 1%;
    }
}

@media (max-width: 900px ){
    section input{
        left: 25%;
    }
}

@media (max-width: 770px ){
    section input{
        left: 5%;
    }
}